html, body {
	height: 100%;
}

html {
    overflow-x: hidden;
}

body {
	margin: 0;
	background-color: #e2eff1;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

#root {
	padding-bottom: 50px;
    min-height: calc(100% - 50.5px);
    position: relative;
}

header {
	background-color: #3e4377 !important;
	align-items: center;
}

h3 {
	text-align:center;
	color: #fff;
	background-color: gray;
	margin-top: 0;
}

@media (max-width: 222px) {
	h2 {
		display: none;
	}
}

.root {
    margin: 1vw;
}

.board {
	padding: 0 !important;
	box-shadow: 10px 10px 100px -10px rgba(0, 0, 0, 0.75);
	border:3px solid #E8E8E8;
	margin-bottom: 20px;
}

#ideas {
  	background-color: #d6f8b8;
}

#to-do {
	background-color: #acdeaa;
}

#in-progress {
	background-color: #8fbbaf;
}

#done {
	background-color: #6b7b8e;
}

.MuiContainer-root {
	height: 394px;
	overflow-y: auto;
}

.MuiCard-root {
	text-align: center;
	background: #ffff88 !important;
	margin-bottom: 20px;
}

.MuiCardActions-root {
	margin-top: -15px;
}

.MuiFormControl-root {
	width: 100%;
}

.MuiCardActions-root {
	display: block !important;
}

footer {
	text-align: center;
	font-family: sans-serif;
	background-color: #3e4377;
	color: #fff;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
}